<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="/js/home/register.js" defer></script>
    <link rel="stylesheet" href="/css/home/login.css" type="text/css">
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form" >
            <input id="id" type="text" placeholder="ID"/>
            <input id="name" type="text" placeholder="Name"/>
            <input id="psword" type="password" placeholder="Password"/>
            <input id="confirm-psword" type="password" placeholder="Confirm Password"/>
            <p id="button">sign up</p>
            <p class="message">Do you have an account? <a href="/login">Please Login.</a></p>
          </form>
        </div>
    </div>
</body>
</html>

<!-- Copyright (c) 2021 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->